footer {
  padding: 45px 0;
  color: var(--colorText5);
  position: relative;

  .top-button {
    position: fixed;
    right: 60px;
    bottom: 60px;
    @include size(65px, 65px);
    border-radius: 50%;
    border: 0;
    background: var(--colorBg3);
    cursor: pointer;
    z-index: 1;
    @include transition;

    &:hover {
      background: var(--colorText6);
    }

    .icon {
      display: inline-block;
      background: url($imgUrl + "/button/btn_top.png") no-repeat;
      background-size: auto 100%;
      @include size(35px, 35px);
    }
  }
}

@include responsive(mob)  {
  footer {
    .top-button {
      right: 20px;
      bottom: 30px;
      @include size(50px);

      .icon {
        @include size(25px);
      }
    }
  }
}