[data-main-theme="light"] {
  header {
    background: #fff;
    color: #333;
  }
}

header {
  padding: 45px 0;
  position: fixed;
  width: 100%;
  background: #222;
  z-index: 2;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > a {
    font-size: 24px;
    font-weight: 600;
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;

  &-list {
    display: inline-flex;
    cursor: pointer;
    position: relative;

    &:hover {
      &:after {
        transform: scaleX(1);
      }
    }

    &.icon {
      @include size(26px, 26px);

      &:after {
        display: none;
      }
    }

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background: #fff;
      transform: scaleX(0);
      margin-top: 4px;
      @include transition;
      position: absolute;
      bottom: -8px;
    }

    img {
      height: 26px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}