[data-main-theme="light"] {
  .container {
    .row-inner {
      .thumb {
        border: 3px solid var(--colorText1);
      }
    }
  }
}

.container {
  .row {
    padding-top: 120px;

    &-inner {
      display: flex;
      align-items: center;
      gap: 40px;
      margin-bottom: 100px;

      &.gamification {
        .thumb {
          background: #eef5fc;
        }
      }

      &.hdream, &.hanabank {
        .thumb {
          background: #eaf9fa;
        }
      }

      &.airforce {
        .thumb {
          background: #e8f0fe;
        }
      }

      &.mobis {
        .thumb {
          background: #f7f7f7;
        }
      }

      &.metlife {
        .thumb {
          background: #eaf9fa;
        }
      }

      &.full {
        .thumb {
          &-img {
            @include size(100%, 100%);
            background-size: auto 100%;
            background-position: center;
            background-repeat: no-repeat;
          }
          img {
            height: auto;
          }
        }
      }

      &.knda {
        .thumb {
          background: var(--colorText1);
        }
      }

      .thumb {
        @include size(600px, 380px);
        border-radius: 30px;
        overflow: hidden;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 50px;
        }
      }

      .content {
        flex: 1;

        .title {
          font-size: 34px;
          line-height: 1.4;
          margin-bottom: 20px;
        }

        .desc {
          font-size: var(--font-lg);

          &-list {
            display: flex;
            gap: 5px;
            line-height: 2;

            .tit {
              min-width: 68px;
            }

            .content {
              flex: 1;
            }
          }
        }
      }
    }

    .btn-default {
      font-weight: 600;
      padding: 15px 25px;
      position: relative;
      z-index: 0;

      &:hover {
        &:after {
          transform: scaleX(1);
        }
      }

      &:after {
        content: '';
        display: block;
        @include size(100%, 100%);
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleX(0);
        @include transition;
        z-index: -1;
      }
    }
  }
}

@include responsive(tablet) {
  .container {
    .row {
      padding-top: 54px;

      &-inner {
        gap: 30px;
        margin-bottom: 50px;

        .thumb {
          width: 380px;
        }
      }
    }
  }
}

@include responsive(mob) {
  .container {
    .row-inner {
      flex-direction: column;
      align-items: flex-start;

      .thumb {
        width: 100%;
      }

      .content {
        .desc-list {
          gap: 0;

          .tit {
            min-width: 50px;
          }
        }
      }
    }
  }
}