[data-main-theme="light"] {
  .container {
    .row-inner {
      .thumb {
        border: 3px solid var(--colorText1);
      }
    }
  }
}

.container {
  .row {
    padding-top: 120px;

    &-inner {
      display: flex;
      align-items: center;
      gap: 40px;

      &.gamification {
        .thumb {
          background: #eef5fc;
        }
      }


      &.hdream, &.hanabank {
        .thumb {
          background: #eaf9fa;
        }
      }

      &.airforce {
        .thumb {
          background: #e8f0fe;
        }
      }

      &.mobis {
        .thumb {
          background: #f7f7f7;
        }
      }

      &.metlife {
        .thumb {
          background: #eaf9fa;
        }
      }

      &.full {
        .thumb {
          &-img {
            @include size(100%, 100%);
            background-size: auto 100%;
            background-position: center;
            background-repeat: no-repeat;
          }
          img {
            height: auto;
          }
        }
      }

      &.knda {
        .thumb {
          background: var(--colorText1);
        }
      }

      .thumb {
        @include size(600px, 380px);
        border-radius: 30px;
        overflow: hidden;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 50px;
        }
      }

      .content {
        flex: 1;

        .title {
          font-size: 34px;
          line-height: 1.4;
          margin-bottom: 20px;
        }

        .desc {
          font-size: var(--font-lg);

          p {
            line-height: 2;
          }
        }
      }
    }
  }
}

@include responsive(tablet) {
  .container {
    .row-inner {
      .thumb {
        width: 380px;
      }
    }
  }
}

@include responsive(mob) {
  .container {
    .row-inner {
      flex-direction: column;
      align-items: flex-start;

      .thumb {
        width: 100%;
      }
    }
  }
}